footer {
	background-color: $dark-blue;
	text-align: center;
	overflow: hidden;
	padding: 60px 40px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 1.86px;
	> img {
		float: left;
	}
	.icons {
		float: right;
		img {
			padding: 0 10px;
		}
	}
	span {
		display: inline-block;
		padding-top: 10px;
	}
}