.btn {
	cursor: pointer;
	border-radius: 4px;
	font-weight: bold;
	letter-spacing: 1px;
	&--lg {
		padding: 12px 20px;
	}
	&--md {
		font-size: 10px;
		padding: 8px 10px;
	}
	&--rounded {
		border-radius: 30px;
	}
	&--red {
		background-color: $red;
		border-color: $red;
		color: white;
	}
	&--light-gray {
		background-color: $light-gray;
		border-color: $light-gray;
		color: $black;
	}
	&--green {
		background-color: $emeraud;
		border-color: $emeraud;
		color: white;
	}
	&--green-trans {
		border-color: $emeraud;
		color: $emeraud;
		background: transparent;
	}
	&--green-sea-trans {
		border-color: $green-sea;
		color: $green-sea;
		background: transparent;
	}
	&--black-trans {
		border-color: black;
		color: $black;
		background: transparent;
	}
	&--blue {
		background-color: $blue;
		border-color: $blue;
		color: white;
	}
	&--white-trans {
		background-color: transparent;
		border-color: white;
		color: white;
	}
	&--shadow {
		box-shadow: 2px 3px 7px 0 rgba(75, 75, 75, 0.5);
	}
}
