/* Customize the label (the checkbox--container) */
.checkbox {
	&--red {
		color: $black;
		border-color: $red;
	}
	&--container {
	  display: inline-block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 20px;
	  cursor: pointer;
	  font-size: 22px;
	  text-align: center;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  /* Hide the browser's default checkbox */
	  input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	  }
	  /* When the checkbox is checked, add a blue background */
      input:checked ~ .checkbox--checkmark {
        background-color: $light-gray;
	  }
	}
	&--checkmark {
	  position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border-width: 2px;
      border-style: solid;
      border-color: inherit;
      border-radius: 3px;
	}
	&--icon {
		box-sizing: border-box;
		height: 10px;
		width: 10px;
		border: 1px solid #E74C3C;
		background-color: #E74C3C;
	}
}