input {
	padding: 10px 60px 10px 14px;
	border: 1px solid $black;
	border-radius: 4px;
	font-weight: bold;
	outline: 0;
	font-size: 14px;
	font-weight: 400;
}

input:focus {
	border-width: 2px;
}

.input {
	&--lg {
		padding: 15px 60px 15px 14px;
	}
}

.dark-theme {
  input[type="file"] {
	background-color: #020203;
  }
}