.sidebar {
	background-color: $lightgray;
	text-align: left;
	.logo {
		padding: 20px;
		height: 100px;
		margin-bottom: 20px;
		img {
			border-radius: 50%;
		}
	}
	.setting {
		padding: 10px 0px 10px 10px;
		color: $black;
		display: block;
		cursor: pointer;
	}
	.active {
		background-color: lightgray;
	}
	.setting:hover {
		background-color: lightgray;
	}
}


.dark-theme {
	.sidebar {
		background-color: #101720;
		.setting {
			a {
				color: white;
			}
		}

		.setting:hover {
			background-color: #020203;
		}

		.active {
			background-color: #020203;
			color: white;
		}
	}
}