.conteneur
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home {
	.description {
		background: $blue;
		color: white;
		padding: 50px 200px;
		h1 {
			font-size: 50px;
		}
		p {
			margin: 20px 30px 70px;
			font-size: 18px;
		}
		.item {
			width: 25%;
			font-weight: bold;
			font-size: 18px;
		}
		.btn {
			border-radius: 0;
			font-size: 20px;
			padding-left: 30px;
			padding-right: 30px;
			border-width: 4px;
		}
	}
	.how-it-works {
		padding: 50px 0;
		display: flex;
		flex-wrap: wrap;
		.title {
			color: $green-sea;
		}
		> div:first-child {
			padding: 0 100px;
			h1 {
				font-size: 32px;
			}
		}
		> div {
			width: 40%;
			p {
				font-size: 18px;
			}
		}
		> div:first-child {
			padding: 0 100px;
			text-align: left;
		}
		.item {
			display: flex;
			flex-wrap: wrap;
			> div:first-child {
				width: 20%;
				vertical-align: middle;
				.item-icon {
					background: $green-sea;
					border-radius: 50%;
					padding: 18px 27px;
					color: white;
					font-weight: bold;
					font-size: 25px;
				}
				margin-top: 30px;
			}
			.item-description {
				width: 80%;
			}
		}
	}

	.form {
		height: 800px;
	    position: relative;
	    overflow: hidden;
	    background-image:url('./assets/img/BG.png');
	    padding: 100px 0;
		.card {
			background-color: white;
			overflow: hidden;
			width: 80%;
			margin: 0 auto;
			.card-header h2{
				color: $green-sea;
			}
			.card-body {
				padding-left: 120px;
				.body-field {
					display: inline-block;
					width: 50%;
					text-align: left;
					label {
						text-transform: uppercase;
						font-weight: bold;
					}
				}
				form > div:last-child {
					text-align: left;
					> label {
						margin-top: 15px;
						font-weight: 400;
					}
				}
			}
			.card-header {
				text-align: center;
				padding: 30px 0;
				p {
					font-weight: bold; 
					font-size: 18px;
				}
			}
			.card-footer {
				margin: 40px 0 20px;
				text-align: center;
			}
			input[type='text'] {
				margin: 20px 0;
				width: 60%;
			}
		}
	}
}