.personal-settings {
	position: relative;
	text-align: left;
	padding: 20px 60px;
	font-size: 16px;

	.edit-personal-settings {
		position: absolute;
		z-index: 2;
		top: 20px;
		right: 20px;
	}

	.container {
		position: relative;
		> * {
			margin: 10px 0;
			display: block;
		}

		.advanced-params {
			text-align: right;
			position: absolute;
			top: 0;
			right: 0;

			> * {
				margin-bottom: 10px;
			}
		}

		.user-infos {
			width: 30%;
			margin: 20px 0;

			div {
				padding: 10px 0;
				border-bottom: 1px solid black;
			}

			span:last-child {
				float: right;
			}
		}

		.edit-user-infos {
			margin: 20px 0;
			input {
				width: 300px;
			}

			> * {
				display: block;
				margin: 10px 0;
			}
		} 
	}
}

.dark-theme {
	.personal-settings {
		color: white;
		.user-infos {
			div {
				border-bottom: 1px solid white;
			}
		}
	}
}