.sales {
  #import-add-sales-file {
    float: right;
    margin: 20px;
    input {
      margin-right: 10px;
    }
  }
  .add-sales-infos {
    float: left;
    text-align: left;
    margin: 100px 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    h3,
    div > * {
      margin: 10px;
    }
    input {
      width: 25%;
    }
    .btn {
      width: 30%;
    }
  }

  .sales-infos {
    margin-top: 50px;
    .table {
      margin-left: 0;
    }
  }

  .add-sales-form {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    width: 30%;
    height: 100%;
    padding: 50px 50px 10px;
    box-shadow: 5px 13px 26px 6px rgba(172,166,166,0.5);
    overflow: auto;

    .close {
      position: absolute;
      top: 20px;
      right: 50px;
      font-size: 30px;
      cursor: pointer;
    }

    h3 {
      margin: 40px 0;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      input, select, button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
