/* base */
@import "base/_base.scss";
@import "base/_colors.scss";
@import "base/_reset.scss";

/* components */
@import "components/_inputs.scss";
@import "components/_buttons.scss";
@import "components/_selectbox.scss";
@import "components/_checkbox.scss";
@import "components/_radioButton.scss";
@import "components/_sidebar.scss";
@import "components/_table.scss";

/* layout */
@import "layout/_header.scss";
@import "layout/_hero-bg.scss";
@import "layout/_footer.scss";

/* pages */
@import "pages/_home.scss";
@import "pages/_dashboard.scss";
@import "pages/_login.scss";
@import "pages/_sales.scss";
@import "pages/_clients.scss";
@import "pages/_personalsettings.scss";
@import "pages/_stats.scss";
